.right {

    .item-count {
        font-weight: bold;
        margin-right: 25px;
    
        .fa-shopping-cart {
            margin-right: 10px;
        }
    }

    .signout-button {
        display: block;
        margin: 15px auto 0;
    }
}