.right {

    .item-count,
    .view 
    {
        font-weight: bold;
        margin-right: 25px;
    
        .fa-shopping-cart {
            margin-right: 10px;
        }
    }

    .signout-button,
    .change-view-button 
    {
        display: block;
        margin: 15px auto 0;
    }
}